// Define variables for your color scheme

// For example:
$red: #D6354A;
$blue: #21005B;
$yellow: #FDB631;
$orange: #F55D3E;
$green: #32B796;
$gray: #AAAAAA;
$light-gray: #F4F4F4;
$dark-gray: #302d2d;
$purple: #A000EF;
$white: #FFFFFF;
$light-blue: #3db3e5;
$dark-blue: #33658A;
$purple-test: #A30B40;
