.form-opinion-edit {
  h2 {
    color: $dark-gray;
    font-weight: 400;
  }
  .cancel-link {
    font-size: 14px;
    margin-top: 30px;
    font-weight: 400;
  }

  .unhappy-link {
    font-size: 14px;
    font-weight: 400;
    a {
      color: $light-gray;
      padding-left: 10px;
    }
    a :hover{
      text-decoration: underline;
    }
  }

}

.a-links-back {
  font-size: 14px;
  a {
    color: $light-gray;
    text-decoration: none;
  }
  a :hover {
    text-decoration: underline;
  }
}
