.index-title {

  margin-top: 15px;
  margin-bottom: 23px;

  h1 {
  font-family: 'Montserrat';
  margin: 0px;
  color: #302d2d;
  font-weight: bold;
  }
}

.underlined-title {
       text-decoration: none;
       position: relative;
       z-index: 1;
     }

    .underlined-title:before {
        position: absolute;
        content: '';
        height: 20px;
        bottom: -4px;
        z-index: -2;
        width: 50%;
        background: $light-blue;

      /* optional animation */
      // -o-transition:.5s;
      //   -ms-transition:.5s;
      //   -moz-transition:.5s;
      //   -webkit-transition:.5s;
      //   transition:.5s;
    }
