.index-title {

  margin-top: 30px;
  margin-bottom: 45px;

  h1 {
  color: $dark-gray;
  font-weight: 900;
  }
}

.hereare {
  margin-top: 50px;
}

.underlined-title {
       text-decoration: none;
       position: relative;
       z-index: 1;
       // margin-top: 30px;
     }

    .underlined-title:before {
        position: absolute;
        content: '';
        height: 20px;
        bottom: -4px;
        z-index: -2;
        width: 50%;
        background: $light-blue;
        max-width: 45%;

      /* optional animation */
      // -o-transition:.5s;
      //   -ms-transition:.5s;
      //   -moz-transition:.5s;
      //   -webkit-transition:.5s;
      //   transition:.5s;
    }
.add-track-button {
  position: fixed;
  z-index: 300;
  bottom: 40px;
  right: 40px;
  box-shadow: 0 0 5px #999;
}
