.bg-signup {
  display: flex;
  justify-content: space-between;

}

.container-form {
  position: relative;
}

.center-form-display {
  position: absolute;
  top: 650px;
  left: 125px;
}

.image {
  background: url('https://images.unsplash.com/photo-1525362081669-2b476bb628c3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=14dd733b33f690ea6c7088b09e8d2b3f&auto=format&fit=crop&w=934&q=80');
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  right: 0;
  width: 50%;
  height: 150%;
}
