
.opinion-main-content {
}

// -------------------------------------------
// YOUTUBE PLAYER SIDEBAR
// -------------------------------------------

.opinion-youtube-player {
  background-color : #EEEEEE;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

// -------------------------------------------


.opinion-banner {
  width: 80%;
  margin: 20px 0px 20px 0px;
  position: relative;

}
.opinion-description-quote  {
  display: flex;
  justify-content: start;
  position: relative;

  h1 {
  font-weight: 700;
  color: $dark-gray;
  font-size: 20px;
  line-height: 23px;
  text-align: justify;
  align-items: end;
  padding: 15px 15px;
  }
  p {
  padding: 50px 40px;
  text-align: center;

  }
  i {
    font-size: 24px;
    opacity: 0.6;
    height: 100%;
    position: relative;
  }
}

.quote-right {
  position: relative;
  top: 100px;
}

.green-button {
  background-color: #27AE60;
  color: white;
  padding: 10px 20px;
  border-radius: 15px;
  position: absolute;
  top: 5px;
  right: 5px;
  font-weight: 300;
  font-size: 16px;
  &:hover{
    background-color: #46C190;
    cursor: pointer;
  }
}


// -------------------------------------------

.opinion-description {

  margin: 40px 40px 0 40px;
  p {
    font-size: 18px;
    line-height: 23px;
    text-align: justify;
    color: #BDBDBD;
  }

  h6 {
    color: $light-blue;
    font-weight: 200;
  }

  a {
    color: $light-blue;
  }
}

.admin-update-button {

}


// -------------------------------------------


.opinion-genres {
  width: 100%;
  text-align: right;
  margin-bottom: 0px;
  h1 {
    font-size: 18px;
    opacity: 0.8;
  }
}

.opinion-genre-name {
  display: inline-block;
  border-radius: 40px;
  margin: 2px;
  background-color: grey;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
  opacity: 0.8;
}


// -------------------------------------------


.opinion-player h2 {
  margin: 20px;
  // text-align: center;
  font-size: 24px;
}

.opinion-player-title {
    margin: 40px 0;
}

.opinion-player-details {
  // display: flex;
}

.opinion-tracks-title {
  margin-bottom: 40px;
  margin-left: 20px;
  p {
    margin: 15px auto 0 auto;
    padding: 7px;
    border-radius: 50px;
    width : 150px;
  }
  h2 {
    margin: 20px 0 10px 0;
    color: $red;
    text-align: center;
    line-height: 16px;
    font-size: 14px;
    font-style: medium;
  }
}
.opinion-add-track {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;

}

.user-admin-delete {
  a {
    font-size: 14px;
  }
}
.track-search-result-display {
  display: flex;
  // align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  list-decoration: none;
  margin: 5px 0;
  padding: 10px 0;
  background-color: #GGGGGG;
  img {
  width: 100px;
  border-radius: 5px;
  margin-left: 5px;
  }
  p {
  font-size: 12px;
  padding-left: 20px;
  }
}

.scrollbar {
width: 100%;
float:left;
overflow-y: scroll;
height: 400px;
margin-bottom: 40px;
}

