
.opinion-main-content {
}

// -------------------------------------------
// YOUTUBE PLAYER SIDEBAR
// -------------------------------------------

.opinion-youtube-player {
  background-color : #EEEEEE;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.beat-button-title {
  color: $red;
  margin-top: 3em;
  font-size: 18px;
  font-weight: 400;
  text-align: center
}

.beat-button {
  margin-left: 170px;
  max-width: 10em;
}

// -------------------------------------------



.green-button {
  background-color: #27AE60;
  color: white;
  padding: 10px 20px;
  border-radius: 15px;
  position: absolute;
  top: 5px;
  right: 5px;
  font-weight: 300;
  font-size: 16px;
  &:hover{
    background-color: #46C190;
    cursor: pointer;
  }
}



.opinion-player h2 {
  margin: 20px;
  // text-align: center;
  font-size: 24px;
}

.opinion-player-title {
    // margin: 40px 0;
}

.opinion-player-details {
  // display: flex;
}

.opinion-tracks-title {
  margin-bottom: 40px;

  p {
    margin: 15px auto 0 auto;
    padding: 7px;
    border-radius: 50px;
    width : 150px;
  }

  h2 {
    margin: 0px 0 10px 0;
    color: $dark-gray;
    font-size: 18px;
    font-weight: 400;
  }
}




.opinion-add-track {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;

}

.user-admin-delete {
  a {
    font-size: 14px;
  }
}
.track-search-result-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  list-decoration: none;
  margin: 5px 0;
  padding: 10px 0;
  background-color: #GGGGGG;
  img {
  width: 100px;
  border-radius: 5px;
  margin-left: 5px;
  }
  p {
  font-size: 12px;
  padding-left: 20px;
  color: $dark-gray;
  }
}

.scrollbar {
width: 100%;
float:left;
overflow-y: scroll;
height: 400px;
margin-bottom: 40px;
}

