
// -------------------------------------------
// PLAYER
// -------------------------------------------

.opinion-youtube-player {
  background-color : #EEEEEE;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

// -------------------------------------------

.opinion-description p {
  padding: 50px 40px;
  text-align: center;
}

.opinion-player h2 {
  margin: 20px;
  text-align: center;
  font-size: 24px;
}

.opinion-player-title {
    margin: 40px 0;
}

.opinion-player-details {
  display: flex;
}

.opinion-tracks-title {
  margin-bottom: 40px;
  margin-left: 20px;
  p {
    background-color: #EB5757;
    color: white;
    text-align: center;
    line-height: 19px;
    font-size: 16px;
    font-weight:200;
    font-family: Roboto;
    width: 150px;
    margin: 15px auto 0 auto;
    padding: 7px;
    border-radius: 50px;
  }
  h2 {
    margin: 0 0 10px 0;
    color: #EB5757;
    text-align: center;
    line-height: 16px;
    font-size: 14px;
    font-style: medium;
    font-family: Roboto;

;
  }
}

.opinion-genres {
  width: 100%;
  border-radius: 5px;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #CCCCCC;
  h1 {
    font-size: 18px;
    opacity: 0.8;
  }
}

.opinion-genre-name {
  display: inline-block;
  border-radius: 5px;
  margin: 2px;
  background-color: steelblue;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  opacity: 0.8;
}

.opinion-add-track {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;

}

.track-search-result-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  list-decoration: none;
  margin: 5px 0;
  padding: 10px 0;
  background-color: #GGGGGG;
  img {
  width: 100px;
  border-radius: 5px;
  margin-left: 5px;
  }
  p {
  font-size: 12px;
  padding-left: 20px;
  }
}


