.wrapper {
  margin-top: 60px;
  margin-left: 310px;
  h4 {
    font-weight: lighter;
    color: $dark-gray;

  }
  .track-title {
    font-weight: lighter;
    color: $dark-gray;
    height: 40px;
    width: 175px;
    overflow: hidden;
    font-size: 14px;
  }
}

#profile-info{
  width: 250px;
  position: fixed;
  top: 0 ;
  bottom: 0;
  left: 30px;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(219,219,219,1);
  -moz-box-shadow: 1px 1px 1px 0px rgba(219,219,219,1);
  box-shadow: 1px 1px 1px 0px rgba(219,219,219,1);
  .greeting {
    color: $light-blue;
    padding-top: 70px;
    font-size: 30px;
    font-weight: 300;
  }
  h5 {
    font-weight: lighter;
    color: $dark-gray;
  }
  p {
    font-weight: lighter;
    color: $dark-gray;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  .fas {
    font-size: 14px;
    color: $dark-gray;

  }
  .infos {
    font-weight: 300;
    font-size: 16px;
  }
  .infos-title {
    font-size: 20px;
    font-weight: 300;
    padding-top: 5px;
    padding-bottom: 20px;
  }
}

.button-row {
  margin-top: 30px;
  text-align: center;
}

.added-tracks-hidden {
  display: none;
}

.added-tracks-displayed {
  display: block;
}

.voted-tracks-hidden {
  display: none;
}

.voted-tracks-displayed {
  display: block;
}
