html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.main-content {
  position: relative;
  // z-index: 1;
  box-shadow: 0 20px 10px -15px #dddddd;
  background: #F4F4F4;
  margin-bottom: $footer-height;
  padding: 20px;
  background-color: white;
}

h2 {
  font-weight: 600;
  color: $dark-gray;
}

h3 {
  font-weight: 500;
  color: $dark-gray;
}

.header-blue {
  background-color: $light-blue;
  height: 8px;
  margin-top: -20px;
  margin-left: -20px;
  width: 1663px;
  // position: absolute;
}

// body.home {
//   margin-top: 0px;
// }
