<div class="modal fade" id="add-an-opinion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add your own opinion</h5>
          <%= simple_form_for @opinion_new do |f| %>
            <%= f.input :name, label:false, placeholder: "Give a title (max 140 caracters)" %>
            <%= f.input :description, as: :text, label:false, placeholder: "Describe your opinions" %>
            <%= f.button :submit, class: "button-small" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
