<div class="modal fade" id="addATrack" tabindex="-10" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
        <div class="modal-body">
            <h5 class = "modal-title">Add a track !</h5>
            <div id="search">
              <%= form_tag api_search_path, method: :get do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Type in a song title" %>
              <% end %>
            <div id="results"></div>
        </div>

        <div class="modal-footer">
          <button type="button" class="button-small-light" data-dismiss="modal">Close</button>
          <button type="button" class="button-small">Save changes</button>
        </div>
  </div>
</div>
