<div class="footer">
  <div class="container">
    <div class="row">

      <ul class="col-xs-12 col-sm-6 col-lg-3 footer-title">
        <li>Mentions légales</li>
        <li class="mentiont-legales footer-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem modi non neque, eius nemo facere nisi ipsum reprehenderit. Dolorem facere tempore, maxime excepturi necessitatibus asperiores numquam aspernatur, eum velit non!</li>
      </ul>

        <ul class="col-xs-12 col-sm-6 col-lg-3 footer-title">
          <li>contact us :</li>
          <li class="footer-text">contact@openminder.space</li>
      </ul>

    </div>
  </div>
</div>
