<div class="footer">
  <div class="container">
    <div class="row">

      <ul class="col-xs-12 col-sm-6 col-lg-3 mentions-legales footer-text">
        <li>Mentions légales</li>
        <li class="mentions-legales">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem modi non neque, eius nemo facere nisi ipsum reprehenderit. Dolorem facere tempore, maxime excepturi necessitatibus asperiores numquam aspernatur, eum velit non!</li>
      </ul>

        <ul class="col-xs-12 col-sm-6 col-lg-3 mentions-legales footer-text">
          <li>contact us :</li>
          <li class="mentions-legales">contact@openminder.space</li>
      </ul>

    </div>
  </div>
</div>
