  <p class="oups">Hmmmmm.... Looks like there is no opinions listed as <%= params[:query] %>...</p>

  <iframe src="https://giphy.com/embed/JYZ397GsFrFtu" width="480" height="392" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  <p class="oups">Here are the genres you can research</p>

    <% searchable_genres.each do |genre| %>
      <%= link_to controller: 'opinions', query: genre.name do%>
        <button class="button-small-light"><%= genre.name %></button>
      <% end %>
    <% end %>
