<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   viewBox="0 0 64 80"
   x="0px"
   y="0px"
   version="1.1"
   id="svg1718"
   sodipodi:docname="share.svg"
   inkscape:version="0.92.3 (2405546, 2018-03-11)">
  <metadata
     id="metadata1724">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <defs
     id="defs1722" />
  <sodipodi:namedview
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1"
     objecttolerance="10"
     gridtolerance="10"
     guidetolerance="10"
     inkscape:pageopacity="0"
     inkscape:pageshadow="2"
     inkscape:window-width="1853"
     inkscape:window-height="1025"
     id="namedview1720"
     showgrid="false"
     inkscape:zoom="2.95"
     inkscape:cx="32"
     inkscape:cy="40"
     inkscape:window-x="67"
     inkscape:window-y="27"
     inkscape:window-maximized="1"
     inkscape:current-layer="svg1718" />
  <title
     id="title1684">24-Sharing</title>
  <g
     data-name="24-Sharing"
     id="g1712"
     style="fill:#60e6f2;fill-opacity:1">
    <path
       d="M41.9,44c-.21,1.19-.86,3-2.9,3H28v2H39c4,0,5-3.92,5-6a1,1,0,0,0-1-1H18a1,1,0,0,0-.71.29l-12,12,1.41,1.41L18.41,44Z"
       id="path1686"
       style="fill:#60e6f2;fill-opacity:1" />
    <path
       d="M54.29,35.29l-9,9,1.41,1.41,8.21-8.21a4.26,4.26,0,0,1-.63,5.8L42.59,55H22a1,1,0,0,0-.71.29l-7,7,1.41,1.41L22.41,57H43a1,1,0,0,0,.71-.29l12-12c3.72-3.72,1.63-7.79,0-9.41A1,1,0,0,0,54.29,35.29Z"
       id="path1688"
       style="fill:#60e6f2;fill-opacity:1" />
    <rect
       x="24"
       y="47"
       width="2"
       height="2"
       id="rect1690"
       style="fill:#60e6f2;fill-opacity:1" />
    <path
       d="M22,35a4,4,0,0,0,7.27,2.29,4.93,4.93,0,0,0,7.46,0,4,4,0,1,0,.78-5.4,5,5,0,0,0-9,0A4,4,0,0,0,26,31,4,4,0,0,0,22,35Zm18-2a2,2,0,1,1-2,2A2,2,0,0,1,40,33Zm-7-2a3,3,0,1,1-3,3A3,3,0,0,1,33,31Zm-7,2a2,2,0,1,1-2,2A2,2,0,0,1,26,33Z"
       id="path1692"
       style="fill:#60e6f2;fill-opacity:1" />
    <path
       d="M41,15H54.59l-3.29,3.29,1.41,1.41,5-5a1,1,0,0,0,0-1.41l-5-5L51.29,9.71,54.59,13H41a2,2,0,0,0-2,2v6h2Z"
       id="path1694"
       style="fill:#60e6f2;fill-opacity:1" />
    <path
       d="M32,3.41V19h2V3.41l3.29,3.29,1.41-1.41-5-5a1,1,0,0,0-1.41,0l-5,5,1.41,1.41Z"
       id="path1696"
       style="fill:#60e6f2;fill-opacity:1" />
    <rect
       x="32"
       y="25"
       width="2"
       height="2"
       id="rect1698"
       style="fill:#60e6f2;fill-opacity:1" />
    <rect
       x="39"
       y="27"
       width="2"
       height="2"
       id="rect1700"
       style="fill:#60e6f2;fill-opacity:1" />
    <rect
       x="39"
       y="23"
       width="2"
       height="2"
       id="rect1702"
       style="fill:#60e6f2;fill-opacity:1" />
    <rect
       x="25"
       y="27"
       width="2"
       height="2"
       id="rect1704"
       style="fill:#60e6f2;fill-opacity:1" />
    <rect
       x="25"
       y="23"
       width="2"
       height="2"
       id="rect1706"
       style="fill:#60e6f2;fill-opacity:1" />
    <rect
       x="32"
       y="21"
       width="2"
       height="2"
       id="rect1708"
       style="fill:#60e6f2;fill-opacity:1" />
    <path
       d="M13.29,19.71l1.41-1.41L11.41,15H25v6h2V15a2,2,0,0,0-2-2H11.41l3.29-3.29L13.29,8.29l-5,5a1,1,0,0,0,0,1.41Z"
       id="path1710"
       style="fill:#60e6f2;fill-opacity:1" />
  </g>
</svg>
