<div class="banner">
  <div class="landing_background" style="background-image: url(<%= asset_path 'banner_3.jpg' %>)">
    <div class="landing_infos">
      <div class="rotate">
        <h1>Open Minder</h1>
        <p>New musical horizons</p>
      </div>
      <div class="call-to-action">
        <button>Discover</button>
      </div>
    </div>
  <div>
</div>


