.banner {
  position: relative;
  background-color: black;
  width: calc(100% + 40px);
  height: 100vh;
  margin: -20px -20px 0px -20px;
  * {
    border: solid 1px red;
  }
  .landing_background {
    text-align: center;
    height: 100vh;
    background-size: cover !important;
    background-position: center;
  }
  .landing_infos{
    width: 45%;
    padding-top: 200px;
  }
  .rotate {
    text-align: right;
    opacity: 0.5;
    transform: perspective(1000px) rotateY(35deg) rotateZ(-3deg) scale(1);
  }
  .beat{
    animation: scale;
    animation-duration: 1.8s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
  }
  h1{
    font-family: $body-font;
    letter-spacing: -10px;
    font-size: 100px;
    font-weight: 900;
    color: #222;
    animation: scale_shadow;
    animation-duration: 1.8s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
  }
  p{
    font-size: 30px;
    font-weight: 300;
    color: #333;
    text-shadow: 20px 20px 10px rgba(0, 0, 0, 0.15);
  }
  button{
    margin-top: 200px;
    font-size: 30px;
    font-weight: normal;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  56% {
    transform: scale(1);
  }
  62% {
    transform: scale(1.04);
  }
  72% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scale_shadow {
  0% {
    text-shadow: -15px 5px 10px rgba(0, 0, 0, 0.25);
  }
  40% {
    text-shadow: -15px 5px 10px rgba(0, 0, 0, 0.25);
  }
  50% {
    text-shadow: -20px 7px 15px rgba(0, 0, 0, 0.2);
  }
  56% {
    text-shadow: -15px 5px 10px rgba(0, 0, 0, 0.25);
  }
  62% {
    text-shadow: -25px 8px 18px rgba(0, 0, 0, 0.18);
  }
  72% {
    text-shadow: -15px 5px 10px rgba(0, 0, 0, 0.25);
  }
  100% {
    text-shadow: -15px 5px 10px rgba(0, 0, 0, 0.25);
  }
}
