.banner {
  * {
    // border: solid 1px red;
  }
  .landing_background {
    text-align: center;
    width: calc(100% + 40px);
    height: 100vh;
    background-size: auto !important;
    background-position: center;
    display: flex;
    align-items: top;
    justify-content: left;
    margin: -20px;
  }
  .landing_infos{
    width: 30%;
    margin-left: 100px;
    margin-top: 150px;
  }
  .rotate {
    opacity: 0.5;
    color: #666;
    animation: scale;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
  }
  h1{
    font-size: 90px;
    font-weight: bold;
  }
  p{
    font-size: 40px;
  }
  h1, p {
    animation: scale_shadow;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
  }
  button{
    margin-top: 200px;
  }
}

@keyframes scale {
  0% {
    transform: perspective(1000px) rotateY(35deg) rotateZ(-3deg) scale(1);
  }
  45% {
    transform: perspective(1000px) rotateY(35deg) rotateZ(-3deg) scale(1);
  }
  49% {
    transform: perspective(1000px) rotateY(35deg) rotateZ(-3deg) scale(1.02);
  }
  53% {
    transform: perspective(1000px) rotateY(35deg) rotateZ(-3deg) scale(1);
  }
  57% {
    transform: perspective(1000px) rotateY(35deg) rotateZ(-3deg) scale(1.02);
  }
  61% {
    transform: perspective(1000px) rotateY(35deg) rotateZ(-3deg) scale(1);
  }
  100% {
    transform: perspective(1000px) rotateY(35deg) rotateZ(-3deg) scale(1);
  }
}

@keyframes scale_shadow {
  0% {
    text-shadow: 20px 20px 10px rgba(0, 0, 0, 0.15);
  }
  45% {
    text-shadow: 20px 20px 10px rgba(0, 0, 0, 0.15);
  }
  49% {
    text-shadow: 25px 25px 10px rgba(0, 0, 0, 0.05);
  }
  53% {
    text-shadow: 20px 20px 10px rgba(0, 0, 0, 0.15);
  }
  57% {
    text-shadow: 25px 25px 10px rgba(0, 0, 0, 0.05);
  }
  61% {
    text-shadow: 20px 20px 10px rgba(0, 0, 0, 0.15);
  }
  100% {
    text-shadow: 20px 20px 10px rgba(0, 0, 0, 0.15);
  }
}
