// .button {
//   background-color: transparent;
//   border-radius: 0px;
//   padding: 10px 15px;
//   border: 1.5px solid $blue;
//   color: $blue;
//   font-weight: 300;
//   transition: 0.5s ease-in-out;
//   // transition: color 1s ease-in-out;

//   &:hover {
//     color: $purple;
//     border: 1.5px solid $purple;
//   }
// }

button {
  background: none;
  border: 0;
  box-sizing: border-box;
  padding: 15px 25px !important;

  box-shadow: inset 0 0 0 2px $blue;
  color: $blue;
  font-size: inherit;
  font-weight: 700;

  position: relative;
  vertical-align: middle;

  &::before,
  &::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.button {
  background: none;
  border: 0;
  box-sizing: border-box;
  padding: 15px 25px !important;

  box-shadow: inset 0 0 0 2px $blue;
  color: $blue;
  font-size: inherit;
  font-weight: 700;

  position: relative;
  vertical-align: middle;

  &::before,
  &::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.draw {
    transition: color 0.25s;

  &::before,
  &::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
  }
  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    bottom: 0;
    right: 0;
  }

  &:hover {
    color: $purple;
  }

  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
  }

  &:hover::before {
    border-top-color: $purple;
    border-right-color: $purple;
    transition:
      width 0.25s ease-out,
      height 0.25s ease-out 0.25s;
  }

  &:hover::after {
    border-bottom-color: $purple;
    border-left-color: $purple;
    transition:
      border-color 0s ease-out 0.5s,
      width 0.25s ease-out 0.5s,
      height 0.25s ease-out 0.75s;
  }
}

.meet {

  &:hover {
    color: $purple;
  }

  &::after {
    top: 0;
    left: 0;
  }

  &:hover::before {
    border-top-color: $purple;
    border-right-color: $purple;
  }

  &:hover::after {
    border-bottom-color: $purple;
    border-left-color: $purple;
    transition:
      height 0.25s ease-out,
      width 0.25s ease-out 0.25s;
  }
}
