.cards {
  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  p {
    text-decoration: none;
    border-radius: 10px;
  }
}


.card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
  transition: all 0.25s ease-in;
  border-bottom: 5px solid transparent;
  width: 360px;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;

  &:hover {
    transform: translateY(-5px);
    border: none;
    border-bottom: 5px solid $light-blue;
  }
}


.card-genre-photo {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 50%;
  display: block;
}

.genres {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.card-heading {
  font-size: 2.25rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  line-height: 1.25;
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 1rem;

}


.styled-link {
  text-decoration: none;
  outline: none;
  color: $light-blue;
  transition: all 0.25s ease-in;
  margin-left: 20px;
  position: relative;
  display: inline-block;
  font-weight: lighter;
  text-align: center;
}
