.cards {

  perspective: 800px;

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  p {
    text-decoration: none;
    border-radius: 10px;
  }
}


.card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);
  transition: all 0.25s ease-in;
  border-bottom: 5px solid transparent;
  width: 360px;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;


  transition: transform 1s;
  transform-style: preserve-3d;

  div {
    backface-visibility: hidden;
  }

  &:hover {
    transform: translateY(-5px);
    border: none;
    border-bottom: 5px solid $light-blue;
  }
}

.card-top {
  display: block;
}

.card-genre-photo {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 50%;
  display: block;
}

// .card-genre-photo::after {
//   content: "";
//   background: linear-gradient(90deg, rgba(243, 72, 104,1) 20.09375%,rgba(242, 71, 104,1) 20.09375%,rgba(158, 0, 236,1) 80.09375%);
// }

.card-heading {
  font-size: 2.25rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  line-height: 1.25;
  font-weight: lighter;
  margin-top: -240px;
  margin-bottom: 1rem;
  color: white;
  position: absolute;
}

.card-bottom {
  display: block;
}

.genres {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: absolute;
  margin-top: -31px;
}

.card-description {
  font-weight: lighter;
  position: absolute;
  margin-left: 5px;
  margin-top: 15px;
  padding: 5px;
  color: #999;
  text-decoration: italic;
}

.styled-link {
  text-decoration: none;
  outline: none;
  font-size: 0.7em;
  color: #999;
  transition: all 0.25s ease-in;
  margin-left: 135px;
  margin-top: 130px;
  display: inline-block;
  font-weight: lighter;
  text-align: center;
  position: absolute;

  &:hover {
    color: $light-blue;
    text-decoration: underline;
  }
}

.front {
  background: white;
}

.back {
  background: white;
  transform: rotateY( 180deg );
}

.card.flipped {
  transform: rotateY( 180deg );
}

