.details {
  width: 90%;
  height: 100vh;
  padding: 50px;
  .detail {
    padding: 20px;
    text-align: center;
  }
  svg {
    width: 150px;
    height: 150px;
  }
  .card {
    width: auto;
    height: 150px;
  }
  .card-heading {
    margin-top: -130px;
    font-weight: normal;
  }
  .card-genre-photo {
    height: 150px;
  }
  .details-buttons {
    text-align: center;
  }
}
