.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $footer-height;
  background: $light-gray;

  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  z-index: -1;

  .footer-content {
    // position: fixed;
    margin-top: 20px;
    // z-index: -1;
  }

  li {
    list-style: none;
    color: $dark-gray;
    opacity: 0.8;
  }

  .footer-text {
    font-weight: 100;
  }
}

.mango {
  opacity: 0;

  &:hover {
  opacity: 1;
  }
}
