.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $footer-height;
  background: linear-gradient(178.7192101795962deg, rgba(255, 255, 255,1) 21.024182076813652%,rgba(254, 254, 254,1) 21.024182076813652%,rgba(96, 230, 242,1) 91.00995732574678%);

  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  z-index: -1;

  .footer-content {
    margin-top: 70px;
    position: fixed;
    // z-index: -1;
  }

  li {
    list-style: none;
    color: #444;
    opacity: 0.8;
  }

  .footer-text {
    margin-top: 10px;
    font-weight: 100;
  }

  .mentions-legales {
    width: 400px;
  }
}

.mango {
  opacity: 0;

  &:hover {
  opacity: 1;
  }
}
