.simple_form {
  div.input {
    margin-bottom: 10px;
    clear: both;
    /* Required for Webkit, but not for Gecko */
  }
  label {
    float: left;
    // width: 100px;
    font-weight: 400;
    font-size: 15px;
    padding-right: 10px;
    color: $dark-gray;
    font-weight: 300;
  }
}

.form-group {
    margin-bottom: 35px;
}

div.boolean label {
  float: none;
  margin: 0;
}

label.collection_radio_buttons {
  float: none;
  margin: 0;
  margin-right: 10px;
  vertical-align: -2px;
  margin-left: 2px;
}

.field_with_errors {
  background-color: #ff3333;
}

.simple_form {
  .error {
    clear: left;
    color: $white;
    display: block;
    margin-left: 120px;
  }
  .hint {
    clear: left;
    margin-left: 120px;
    color: $white;
    display: block;
    font-style: italic;
  }
}

input {
  &.radio {
    margin-right: 5px;
    vertical-align: -3px;
  }
  &.check_boxes {
    margin-left: 3px;
    vertical-align: -3px;
  }
}

label.collection_check_boxes {
  float: none;
  margin: 0;
  vertical-align: -2px;
  margin-left: 2px;
}

.form-control {
    height: auto;
    font-weight: 300;
}

.category-choices {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  flex-wrap: wrap;
}

.category-choice {
  background: $purple;
  padding: 13px;
  color: white;
  opacity: 0.6;
  flex: 0 0 30%;
  text-align: center;
  font-weight: lighter;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
    background: $yellow;
    color: white;
    opacity: 1;
  }

}

legend {
  font-size: 19px;
}

.a-links {
  font-size: 14px;
  padding-top: 20px;
  a {
    color: #C0C0C0;
    text-decoration: none;
  }

  a:hover {
  }
}

input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid $light-gray;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: $blue;
}

input[type="email"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid $light-gray;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="email"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: $blue;
}

input[type="password"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid $light-gray;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="password"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: $blue;
}

.form-opinion-login {
  h2 {
    color: $white;
    margin-top: 0;
  }
}

.form-opinion {
  background: white;
  // opacity: 0.9;
  padding: 30px;
  border-radius: 3px;
  h2 {
    margin-bottom: 36px;
    color: $white;
  }
  h3 {
    margin-bottom: 35px;
    margin-top: 0px;
    color: $white;
  }
}

.blur-bg {
  background-image: url('blur.png'), linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2));
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container-form {
  width: 100vw;
  height: 100vh;
  // background-color: white;
  background-image: url('https://images.unsplash.com/5/unsplash-kitsune-4.jpg?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bc01c83c3da0425e9baa6c7a9204af81&auto=format&fit=crop&w=1950&q=80'), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));
  background-position: center;
  border-radius: 3px;
  padding-bottom: 30px;
  padding-top: 30px;
}
