.genres {
  display: flex;
  align-items: center;
}

.main-genre-button {
  background-color: white;
  border-radius: 10px;
  padding: 2px 10px;
  min-width: 4em;
  color: $light-blue;
  text-align: center;
  font-size: 0.7em;
  font-weight: 400;
  margin-right: 10px;
  transition: 0.5s ease-in-out;

  &:hover {
    text-decoration: none;
    background-color: $light-blue;
    color: white;
  }

  a {
    color: $light-blue;

    &:hover {
      color: $white;
    }
  }
}


.secondary-genre-button {
  background-color: white;
  border-radius: 10px;
  padding: 2px 10px;
  min-width: 4em;
  color: #d1d1d1;
  text-align: center;
  font-size: 0.7em;
  font-weight: 400;
  margin-right: 10px;
  transition: 0.5s ease-in-out;

  &:hover {
    text-decoration: none;
    background-color: #d1d1d1;
    color: white;
  }

  a {
  color: #d1d1d1;

    &:hover {
      color: $white;
    }
  }
}


.main-genre-button-big {
  background-color: white;
  border-radius: 25px;
  padding: 7px 10px;
  min-width: 4em;
  max-width: 100px;
  color: white;
  background-color: $light-blue;
  text-align: center;
  font-size: 1em;
  font-weight: 400;
  margin-right: 10px;
  transition: 0.5s ease-in-out;
}
