.last-cards {
  // position: relative;
  margin-left: -20px;
  margin-right: -20px;
  // height: 100vh;
  padding: 10px 40px 40px 40px;
  a {
    text-decoration: none;
  }
}

.details-buttons {
    font-size: 20px;
    margin: 20px auto;
    text-align: center;
  .details-buttons button {
    margin-top: 10px;
    font-weight: normal;
  }
}
