.last-cards {
  position: relative;
  margin-left: -20px;
  margin-right: -20px;
  height: 100vh;
  padding: 50px;
  .card {
    margin-top: -50px;
  }
  .details-buttons {
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
  }
  .details-buttons button {
    margin-top: 10px;
    font-weight: normal;
  }
  a {
    text-decoration: none;
  }
}
