/* Main navbar */
.navbar-logo {
  font-size: 30px;

  &:hover {
    color: $purple;
  }
}

.open {
  color: $purple;
}

.fa-bars:before {
  color: #444;
}

.backcolor {
}
.navbar {
  // background: rgba(255, 255, 255, 0.4);
  background: transparent;
  position: fixed;
}
.navbar-default {
  border: none;
}

.navbar-wagon {
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row-reverse;
  background: transparent;
  opacity: 1;
  // box-shadow: 0px 2px 4px #999;
}


/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  align-self: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 05px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #444;
  font-size: 14px;
  opacity: 0.7;
}
.navbar-wagon-link:hover {
  color: #444;
  text-decoration: none;
  opacity: 1;
}

/* Dropdown menu */


.flex-nabar-display {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 173vh;
}

.dropdown-menu-right{
  // display: flex;
  // align-items: center;
  // justify-content: center;
}


.navbar-wagon-dropdown-menu {
  background: rgba(255, 255, 255, 0.9);
  background-opacity: 0.4;
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;

  a {
    color: #999 !important;
  }
}

.navbar-wagon-dropdown-menu div {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;

  &:hover {
    color: $blue;
  }
}
.navbar-wagon-dropdown-menu div > a:hover {
  background: transparent !important;
  color: $blue;
  text-decoration: none;
  color: #444 !important;
}

.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: transparent;
  transform: rotate(45deg);
  // border-left: 1px solid #E6E6E6;
  // border-top: 1px solid #E6E6E6;
  color: #fff;
}

.navbar-link-border-bottom:hover {
  border-bottom: 2px solid $blue;
}

// for mobile

.navbar-wagon-dropdown-menu li {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;

  a {
    font-weight: lighter !important;
    padding: 0px;
  }
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  font-weight: lighter !important;
  color: #444 !important;
}

.dropdown-toggle-mobile {
  font-size: 30px;
}
