.menu-toggle-btn{
  box-shadow: none;
  opacity: 0.9;

  &:hover {
    opacity: 1;
  }
}

.menu-item {
  opacity: 0.9;

  &:hover {
    opacity: 1;
  }
}


.bomb-menu {
  font-size: 0.8em;

  position: fixed;

  top: 2.2em;
  width: 5.2em;

  height: 5.2em;
}

.right-menu {
  right: 2.2em;
}

.left-menu {
  left: 2.2em;
}

.bomb-menu .menu-toggle-btn,
.bomb-menu .menuIcon,
.bomb-menu .menu-item {
  position: absolute;
  top: 0;
}

.right-menu .menu-toggle-btn,
.right-menu .menuIcon,
.right-menu .menu-item {
  right: 0;
}

.left-menu .menu-toggle-btn,
.left-menu .menuIcon,
.left-menu .menu-item {
  left: 0;
}

.bomb-menu .menu-toggle-btn,
.bomb-menu .menuIcon {
  width: 100%;
  height: 100%;
}

.bomb-menu .menu-item {
  width: 5.0em;

  height: 5.0em;
}

.bomb-menu .menu-item i {
  font-size: 2em;
}

.bomb-menu,
.bomb-menu .menu-toggle-btn,
.bomb-menu .menu-icon,
.bomb-menu .menu-item,
.bomb-menu a {
  border-radius: 50%;
}

.bomb-menu {
  cursor: pointer;
  text-align: center;
  color: white;
  z-index: 100000;
}

.menu-toggle-btn {
  border: 0;
  padding: 0;
  cursor: inherit;
  background-color: $light-blue;
  z-index: 101;
}

.menu-toggle-btn:focus {
  outline: none;
}

.menu-icon {
  pointer-events: none;
}

.bomb-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  visibility: hidden;
}

.active + ul {
  visibility: visible;
}

.bomb-menu .menu-item {
  background-color: $light-blue;
  display: table;
}

.bomb-menu a {
  display: table-cell;
  vertical-align: middle;
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

.active {
  animation: shake 100ms ease-in-out forwards;
}

.line {
  transform: translateY(0px) rotate(0deg);
  transition: transform 200ms linear;
}
/* transform-origin fix for Firefox v42 */
.line1 {
  transform-origin: 26px 18px;
}
.line2 {
  transform-origin: 26px 26px;
}
.line3 {
  transform-origin: 26px 34px;
}

.active .line1 {
  transform: translateY(8px) rotate(45deg);
}

.active .line2 {
  transform: rotate(-45deg);
}

.active .line3 {
  transform: translateY(-8px) rotate(-45deg);
}


.right-menu .active + ul > .mi-1 {
  animation: rExplode1 0ms ease-out 50ms forwards;
}

.right-menu .active + ul > .mi-2 {
  animation: rExplode2 0ms ease-out 50ms forwards;
}

.right-menu .active + ul > .mi-3 {
  animation: rExplode3 0ms ease-out 50ms forwards;
}



@keyframes shake {
  0% {
    transform: translateX(5px);
  }
  4% {
    transform: translateX(0px);
  }
  8% {
   transform: translateX(-5px);
  }
  12% {
    transform: translateX(0px);
  }
  15% {
   transform: translateX(5px);
  }
  18% {
   transform: translateX(0px);
  }
  21% {
    transform: translateX(-5px);
  }
  24% {
    transform: translateX(0px);
  }
  28% {
    transform: translateX(5px);
  }
  32% {
    transform: translateX(0px);
  }
  36% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(0px);
  }
  44% {
    transform: translateX(5px);
  }
  48% {
    transform: translateX(0px);
  }
  52% {
    transform: translateX(-5px);
  }
  56% {
    transform: translateX(0px) scale(1);
  }
  85% {
    transform: scale(0.7);
  }
  94% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

/* right-aligned menu only */
@keyframes rExplode1 {
  0% {
    transform: translate(0px, 0px);
  }
  70% {
    transform: translateX(-160%);
  }
  100% {
    transform: translateX(-140%);
  }
}

@keyframes rExplode2 {
  0% {
    transform: translate(0px, 0px);
  }
  70% {
    transform: translate(-126%, 126%);
  }
  100% {
    transform: translate(-106%, 106%);
  }
}

@keyframes rExplode3 {
  0% {
    transform: translate(0px, 0px);
  }
  70% {
    transform: translateY(160%);
  }
  100% {
    transform: translateY(140%);
  }
}
