.searchbar-wrapper {
  position: sticky !important;
  top: 0 !important;
  z-index: 1000;
  background-color: #f4f4f4;
  opacity: 0.97;
  box-shadow: 0px 1px 1px #777;
  height: 30px;
  padding: 25px;
  display: flex;
  align-items: center;

}

.searchbar-input {
 background-color: transparent;
}

.loupe {
  margin-top: -32px;
  margin-left: 450px;
  font-size: 25px;
  position: absolute;
  color: #bababa;
}
