.searchbar-master{
  padding: 13px;
}

.searchbar-wrapper {
  position: sticky !important;
  top: 0 !important;
  z-index: 1000;
  background-color: white;
  height: 30px;
  padding: 70px 0px 50px;
  display: flex;
  align-items: center;
}

.searchbar-input {
 background-color: transparent;
 margin-left: 20px;
}

.searchbar {
  border: 1px solid #bababa !important;
  border-radius: 10px !important;
  background: white;
  width: 95%;
  font-weight: 100 !important;
}

.searchbar-placeholder{
  margin-left: 20px;
}

.loupe {
  margin-top: -32px;
  margin-left: 1045px;
  font-size: 25px;
  position: absolute;
  color: #bababa;
}
