.opinion-tracks {
  width: 50%;
}

.opinion-right-column {
  width: 50%;
}

.track-container {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  width: 100%;
}

.track {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  transition: all 0.15s ease;
  transition-duration: 0.5s;
  p {
    font-size: 12px;
    color: black;
    opacity:0.8;
  }
  h3 {
    color: $dark-gray;
    font-size: 16px;
  }
}

/* Body design */
.track-body {
  flex: 1 1 auto;
}
.track-body h3 {
  font-weight: 500;
  margin-top: 0;
}
.track-body p {
  font-weight: lighter;
  color: #999999;
  margin-bottom: 0;
}

/* track image */
.track-image {
  border-radius: 10px;
  margin-right: 20px;
  width: 100px;
}

/* Upvote design */
.track-upvote {
  padding-right: 20px;
  text-align: center;
  transition: all 0.15s ease;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
}
.track-count {
  margin: 2px 0 0;
}
.track-arrow-up {
  transition: all 0.15s ease;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 9px solid black;
  border-radius: 2px;
  margin: auto;
}

.track-arrow-down {
  transition: all 0.15s ease;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 9px solid black;
  border-bottom: 6px solid transparent;
  border-radius: 2px;
  margin: 0;
}


/* Hover effects */
.track:hover {
  background: $light-blue;
  cursor: pointer;
  p {
    color: white;
  }
  h3 {
    color: white;
  }
}

.opinion-track-selected {
  background: $light-blue;
  cursor: pointer;
  p {
    color: white;
  }
  h3 {
    color: white;
  }
}

/* Controls design */
.track-controls {
  width: 25px;
  display: flex;
  flex-wrap: no-wrap;
  align-items: center;
  text-align: center;
  margin: 0px;
  li {
    flex: 1;
  }
  margin-right: 50px;
}

.opinion-track-selected {
  .unvoted, .upvotes {
    color: white;
  }
  .voted {
    color: $red;
  }
}

.voted, .unvoted {
  font-size: $font-size-base;
}

.upvotes {
  font-size: $font-size-base * 0.7;
  font-weight: bold;
}

.unvoted, .upvotes {
  color: $gray;
}

.voted {
  color: $red;
}

.user-photo {
  display: inline-block;
  height: 30px;
  width: 30px;
}
