<!-- track -->

<ul data-track=<%= track.id %> class='list-inline  track-controls'>
  <li>
    <% if track.votes.select { |vote| vote.user == current_user }.any? %>
      <% vote = track.votes.select { |vote| vote.user == current_user }.first %>
      <%= link_to vote_path(vote, params: {track: track}), method: :delete, remote: true, class: 'vote' do %>
        <i class="fas fa-heart voted""></i>
      <% end %>
    <% else %>
      <%= link_to votes_path(params: {track: track}), method: :post, remote: true, class: 'vote' do %>
        <i class="far fa-heart unvoted"></i>
      <% end %>
    <% end %>
  </li>
  <li class="upvotes">
    <%= track.upvotes %>
  </li>
</ul>

